In [1]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import callbacks, layers, models
from tensorflow.keras.utils import to_categorical

import numpy as np

import matplotlib.pyplot as plt
import pandas as pd

from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import cross_val_score, train_test_split
from sklearn.metrics import confusion_matrix, classification_report
import seaborn as sns

In [2]:
df= pd.read_csv('mental-state.csv')
df.head()

,lag1_mean_0,lag1_mean_1,lag1_mean_2,lag1_mean_3,lag1_mean_d_h2h1_0,lag1_mean_d_h2h1_1,lag1_mean_d_h2h1_2,lag1_mean_d_h2h1_3,lag1_mean_q1_0,lag1_mean_q1_1,...,freq_669_3,freq_679_3,freq_689_3,freq_699_3,freq_709_3,freq_720_3,freq_730_3,freq_740_3,freq_750_3,Label
0,25.781648,33.836367,-92.769629,19.187957,-1.542262,0.197462,-119.561133,2.032654,21.596272,33.965587,...,0.000230,0.000351,0.000547,0.000381,0.000350,0.000453,0.000442,0.000325,0.000209,2.0
1,29.357891,26.792566,417.203910,19.472121,-38.797263,-16.897194,-29.368531,-9.055370,44.647424,40.893307,...,0.001671,0.000740,0.001122,0.000521,0.000624,0.000439,0.001249,0.000727,0.000801,2.0
2,28.451926,31.076434,72.231301,14.245938,-13.225057,-0.614138,-28.331698,-8.858742,31.450289,30.692883,...,0.000748,0.000569,0.000327,0.000197,0.000833,0.000909,0.000699,0.001165,0.000616,2.0
3,21.282184,19.985184,16.220094,39.787312,1.847866,0.670216,-1.820355,20.220724,21.404679,20.777411,...,0.000990,0.005644,0.006891,0.010546,0.009583,0.011158,0.008853,0.004551,0.002287,1.0
4,20.431516,28.982168,27.540246,19.960398,2.491458,-6.020503,-1.071166,2.655259,16.295039,32.658163,...,0.001659,0.014379,0.014492,0.002949,0.004575,0.008305,0.007202,0.006957,0.009836,2.0

In [3]:
df.isna().any()

lag1_mean_0           False
lag1_mean_1           False
lag1_mean_2           False
lag1_mean_3           False
lag1_mean_d_h2h1_0    False
                      ...
freq_720_3            False
freq_730_3            False
freq_740_3            False
freq_750_3            False
Label                 False
Length: 989, dtype: bool

In [4]:
df.describe()

,lag1_mean_0,lag1_mean_1,lag1_mean_2,lag1_mean_3,lag1_mean_d_h2h1_0,lag1_mean_d_h2h1_1,lag1_mean_d_h2h1_2,lag1_mean_d_h2h1_3,lag1_mean_q1_0,lag1_mean_q1_1,...,freq_669_3,freq_679_3,freq_689_3,freq_699_3,freq_709_3,freq_720_3,freq_730_3,freq_740_3,freq_750_3,Label
count,2479.000000,2479.000000,2479.000000,2479.000000,2479.000000,2479.000000,2479.000000,2479.000000,2479.000000,2479.000000,...,2479.000000,2479.000000,2479.000000,2479.000000,2479.000000,2479.000000,2479.000000,2479.000000,2479.000000,2479.000000
mean,23.584351,27.060411,20.452931,11.526044,0.014449,0.003397,0.554037,0.103880,23.271148,26.809551,...,0.008141,0.008063,0.007784,0.007679,0.007413,0.007998,0.007449,0.007307,0.007382,1.004437
std,10.543938,24.252348,72.104439,19.196870,13.382998,39.383221,97.200697,14.461716,17.639164,36.255490,...,0.007653,0.007572,0.007458,0.007276,0.007060,0.007547,0.006937,0.007379,0.007276,0.815743
min,-35.224945,-369.150109,-579.490660,-251.495367,-75.143730,-728.743981,-1048.773622,-96.231800,-351.810178,-800.320690,...,0.000036,0.000024,0.000018,0.000027,0.000052,0.000041,0.000008,0.000036,0.000048,0.000000
25%,18.732076,21.328936,17.124174,6.541236,-4.647636,-3.342428,-6.773096,-4.498267,17.020349,20.684966,...,0.002192,0.002169,0.002108,0.002151,0.001930,0.002034,0.001985,0.002042,0.001964,0.000000
50%,23.553828,27.574535,25.217098,15.144375,-0.140909,0.180963,0.144378,-0.180041,23.761987,27.442672,...,0.006239,0.006029,0.005735,0.005632,0.005532,0.006005,0.005717,0.005300,0.005315,1.000000
75%,27.759551,32.247539,30.746496,20.589852,3.965898,3.594742,7.305102,4.146319,29.574478,32.720855,...,0.011497,0.011610,0.010986,0.011150,0.010645,0.011406,0.010768,0.010208,0.010330,2.000000
max,92.313766,408.180215,591.014113,69.694520,104.963158,512.648208,896.171353,172.660240,116.412065,539.925670,...,0.069699,0.058378,0.086914,0.065296,0.053044,0.054104,0.060196,0.134037,0.071582,2.000000

In [5]:
data_new= pd.get_dummies(df, columns = ['Label'])

In [6]:
data_new

,lag1_mean_0,lag1_mean_1,lag1_mean_2,lag1_mean_3,lag1_mean_d_h2h1_0,lag1_mean_d_h2h1_1,lag1_mean_d_h2h1_2,lag1_mean_d_h2h1_3,lag1_mean_q1_0,lag1_mean_q1_1,...,freq_689_3,freq_699_3,freq_709_3,freq_720_3,freq_730_3,freq_740_3,freq_750_3,Label_0.0,Label_1.0,Label_2.0
0,25.781648,33.836367,-92.769629,19.187957,-1.542262,0.197462,-119.561133,2.032654,21.596272,33.965587,...,0.000547,0.000381,0.000350,0.000453,0.000442,0.000325,0.000209,0,0,1
1,29.357891,26.792566,417.203910,19.472121,-38.797263,-16.897194,-29.368531,-9.055370,44.647424,40.893307,...,0.001122,0.000521,0.000624,0.000439,0.001249,0.000727,0.000801,0,0,1
2,28.451926,31.076434,72.231301,14.245938,-13.225057,-0.614138,-28.331698,-8.858742,31.450289,30.692883,...,0.000327,0.000197,0.000833,0.000909,0.000699,0.001165,0.000616,0,0,1
3,21.282184,19.985184,16.220094,39.787312,1.847866,0.670216,-1.820355,20.220724,21.404679,20.777411,...,0.006891,0.010546,0.009583,0.011158,0.008853,0.004551,0.002287,0,1,0
4,20.431516,28.982168,27.540246,19.960398,2.491458,-6.020503,-1.071166,2.655259,16.295039,32.658163,...,0.014492,0.002949,0.004575,0.008305,0.007202,0.006957,0.009836,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2474,15.762328,19.113555,23.696867,7.568395,-6.503336,6.867187,-11.955396,-16.519912,19.838319,14.333094,...,0.004102,0.003156,0.003659,0.010179,0.004591,0.013817,0.004536,1,0,0
2475,34.675582,34.200645,-57.624820,-4.825609,7.382353,2.324416,-1.341208,-4.178625,26.383597,28.782987,...,0.001702,0.003121,0.002686,0.001645,0.001770,0.001038,0.001973,0,0,1
2476,29.813809,29.623031,-86.503988,7.532121,-19.581287,-0.628400,133.947160,-2.049096,45.484851,32.163999,...,0.000263,0.000701,0.000797,0.001096,0.000388,0.000529,0.001079,0,0,1
2477,59.453973,17.944332,-10.164238,42.568211,-1.300655,-19.993690,-54.331696,12.947622,55.203380,40.228490,...,0.004063,0.001662,0.002665,0.002353,0.003976,0.001660,0.003229,0,0,1
2478,22.893855,30.412723,26.029590,14.249789,-7.101478,-0.551013,3.735563,-9.372750,30.411574,30.079904,...,0.002528,0.005357,0.004612,0.004503,0.003669,0.002316,0.004765,0,1,0

In [7]:
x=data_new.loc[:,'lag1_mean_0':'freq_750_3']
x.head()

,lag1_mean_0,lag1_mean_1,lag1_mean_2,lag1_mean_3,lag1_mean_d_h2h1_0,lag1_mean_d_h2h1_1,lag1_mean_d_h2h1_2,lag1_mean_d_h2h1_3,lag1_mean_q1_0,lag1_mean_q1_1,...,freq_659_3,freq_669_3,freq_679_3,freq_689_3,freq_699_3,freq_709_3,freq_720_3,freq_730_3,freq_740_3,freq_750_3
0,25.781648,33.836367,-92.769629,19.187957,-1.542262,0.197462,-119.561133,2.032654,21.596272,33.965587,...,0.000579,0.000230,0.000351,0.000547,0.000381,0.000350,0.000453,0.000442,0.000325,0.000209
1,29.357891,26.792566,417.203910,19.472121,-38.797263,-16.897194,-29.368531,-9.055370,44.647424,40.893307,...,0.000448,0.001671,0.000740,0.001122,0.000521,0.000624,0.000439,0.001249,0.000727,0.000801
2,28.451926,31.076434,72.231301,14.245938,-13.225057,-0.614138,-28.331698,-8.858742,31.450289,30.692883,...,0.001028,0.000748,0.000569,0.000327,0.000197,0.000833,0.000909,0.000699,0.001165,0.000616
3,21.282184,19.985184,16.220094,39.787312,1.847866,0.670216,-1.820355,20.220724,21.404679,20.777411,...,0.015502,0.000990,0.005644,0.006891,0.010546,0.009583,0.011158,0.008853,0.004551,0.002287
4,20.431516,28.982168,27.540246,19.960398,2.491458,-6.020503,-1.071166,2.655259,16.295039,32.658163,...,0.013212,0.001659,0.014379,0.014492,0.002949,0.004575,0.008305,0.007202,0.006957,0.009836

In [8]:
y=data_new.loc[:,'Label_0.0':'Label_2.0']
y.head()

   Label_0.0  Label_1.0  Label_2.0
0          0          0          1
1          0          0          1
2          0          0          1
3          0          1          0
4          0          0          1

In [9]:
x=x.values
y=y.values

In [10]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=123)

In [11]:
x_train.shape, y_train.shape, x_test.shape, y_test.shape

((1983, 988), (1983, 3), (496, 988), (496, 3))

In [12]:
y_test

array([[1, 0, 0],
       [0, 1, 0],
       [0, 0, 1],
       ...,
       [0, 0, 1],
       [0, 1, 0],
       [0, 0, 1]], dtype=uint8)

In [15]:
from tensorflow.keras import Sequential
from tensorflow.keras.layers import LSTM, RBFLayer

ImportError: cannot import name 'RBFLayer' from 'tensorflow.keras.layers' (C:\Users\ASUS\AppData\Roaming\Python\Python39\site-packages\keras\api\_v2\keras\layers\__init__.py)